@use './variables' as *;
@use './fonts' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    font-family: Britanica !important;
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: auto;
}

ul{
    margin: 0;
    padding: 0;
}

.section{
    padding: 3rem 0;
}
// .container{
//     width: 95%;
//     max-width: 1600px;
//     margin-inline: auto;
// }
.main{
    padding: 3rem 0;
    @include lg{
        padding: 0;
    }
}

.disFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.directCol{
    flex-direction: column;
}

.nav-link{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.nav-link-black{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
}

.sect-header{
    color: $text_color;
    text-transform: uppercase;
    font-size: 1.25rem;
    @include md{
        font-size: 2rem;
    }
}