@use '../global' as *;

.sect_news{
    &_head{
        margin: 1rem 0;
        font-weight: 600;
        font-size: 1.32rem;
        // text-wrap: balance;
        @include md {
            font-size: 2rem;
        }
        @include lg {
            font-size: 2.62rem;
        }
    }
    &_img{
        margin-bottom: 1rem;
        border-radius: 12px;
    }
    .news_paragraph{
        margin: 1rem 0;
        font-weight: 400;
        font-size: 1rem;
        @include md {
            font-size: 25px;
        }
    }
    .paragraph_head{
        margin: 2rem 0;
        font-weight: 700;
        line-height: 28px;
    }
}