@use '../global' as *;

.dogmaAz_section-header {
    gap: 1rem;

    .sect-header {
        color: $text_color;
        flex-shrink: 0;
    }

    .header_line {
        display: none;
        padding: 8px 0;
        background-image: url(../../assets/img/line.webp);
        background-repeat: repeat-x;

        @include md {
            display: block;
            width: 65%;
        }

        @include lg {
            width: 78%;
            flex-shrink: 4;
        }
    }

    .view {
        display: none;

        @include md {
            display: flex;
            justify-content: end;
            align-items: center;
            flex-shrink: 0;
        }
    }
}

.dAzCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .8rem;
    
    &_scroll {
        position: relative;
        &::after{
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        .ferhad{
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll !important;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            ::-webkit-scrollbar{
                display: none;
            }
            .dAzCards_scroll-article {
                flex: 0 0 100%;
                scroll-snap-align: center;
                width: 100%;
                aspect-ratio: 2/1;
                background-image: url(../../assets/img/dogma/bulvar.png);
                background-repeat: no-repeat;
                background-size: cover;
                align-items: end;
                padding: 1.3rem;
    
                span {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: $text_color-light;
                }
            }
            .second_scroll-article{
                background-image: url(../../assets/img/dogma/xudaferin_korpusu.png);
            }
        }

        .arrowDiv {
            position: absolute;
            bottom: 1.3rem;
            right: 1.3rem;
            z-index: 20;
            display: flex;
            gap: 8px;

            i {
                color: #948980;
                font-size: 1.2rem;
            }
        }

    }
}