@use '../global' as *;

.dogmaAz_section-header {
    gap: 1rem;

    .sect-header {
        color: $text_color;
        flex-shrink: 0;
    }

    .header_line {
        display: none;
        padding: 8px 0;
        background-image: url(../../assets/img/line.webp);
        background-repeat: repeat-x;

        @include md {
            display: block;
            width: 65%;
        }

        @include lg {
            width: 78%;
            flex-shrink: 4;
        }
    }

    .view {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-shrink: 0;
    }
}

.dAzCards {
    display: grid;
    aspect-ratio: 1/1;
    gap: .8rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    @include md {
        aspect-ratio: 4/1;
        // grid-template-columns: repeat(2, 1fr);
    }

    &_card {
        background-image: url(../../assets/img/dogma/bulvar.png);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: end;
        padding: 1.3rem;

        span {
            font-weight: 600;
            font-size: 1.2rem;
            color: $text_color-light;
        }

        .arrowDiv {
            display: flex;
            gap: 8px;

            i {
                color: #948980;
                font-size: 1.2rem;
            }
        }

    }
}