@use '../global' as *;

.mainCarousel{
    &_container{
        @include lg{
            display: flex;
            justify-content: space-between;
        }
        &-carousel{
            @include lg{
                width: 70%;
            }
        }
        &-list{
            @include lg{
                width: 30%;
            }
        }
    }
}