@use "../global" as *;

.videos_section{
    background-color: $background;
    .sect-header{
        color: $text_color-light;
    }

    .videos_container{
        @include lg{
            display: flex;
            justify-content: space-between;
        }

    }
    .video_row{
        flex-direction: column-reverse;
        @include lg{
            flex-direction: row;
        }
    }
}

.video_menu{
    &-list{
        .video-card{
            background: none !important;
            color: $text_color-light;
            border: none;
        }
    }
}
.list-group-item{
    background: none !important;
}
