@use "../global" as *;

.videos_section{
    background-color: $background;
    &-header{
        gap: 1rem;
        .sect-header{
            color: $text_color-light;
        }
        .header_line{
            display: none;
            width: 35%;
            padding: 8px 0;
            background-image: url(../../assets/img/line.webp);
            background-repeat: repeat-x;
            @include md{
                display: block;
                width: 50%;
            }
            @include lg{
                width: 75%;
                flex-shrink: 4;
            }
        }
        .view{
            display: flex;
            justify-content: end;
            align-items: center;
            flex-shrink: 0;
        }
    }

    .videos_container{
        @include lg{
            display: flex;
            justify-content: space-between;
        }

    }
    .video_row{
        flex-direction: column-reverse;
        @include lg{
            flex-direction: row;
        }
    }
}

.video_menu{
    &-list{
        .video-card{
            background: none !important;
            color: $text_color-light;
            border: none;
        }
    }
}
.list-group-item{
    background: none !important;
}
