@use "../global" as *;

.navbar {
    background-color: $background !important;
    padding: 1rem 0;

    @include lg {
        top: 0;
        position: sticky;
    }

    .navbar-brand {
        img {
            width: 222px;
        }
    }

    i {
        color: #FFFFFF;
        font-size: 22px;
    }

    .currency_list {
        a {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 18px;
        }
    }

}

// Main Menu <i class="bi bi-list"></i>
#navLarge {
    display: none;

    @include lg {
        background-color: #FFFFFF;
        width: 100%;
        display: flex;
        position: sticky;
        top: 75px;
        z-index: 10;

        .container {
            display: flex;
            justify-content: space-between;

            .navLarge_link {
                color: rgba(0, 0, 0, 0.8);
                text-transform: uppercase;
                font-weight: 500;
                font-size: 18px;
                padding: 1.4rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                
                .btn {
                    i {
                        color: rgba(0, 0, 0, 0.8);
                        font-weight: 400;
                    }
                }
            }
            .v2{
                font-family: Britanica-Bold!important;
                font-weight: 400 !important;

            }
        }
    }
}