@use "../global" as *;

.navbar{
    background-color: $background !important;
    @include lg{
        top: 0;
        position: sticky;
    }
    .navbar-brand{
        img{
            width: 130px;
        }
    }
    i{
        color: #FFFFFF;
        font-size: 20px;
    }

    .currency_list{
        a{
            color: #FFFFFF;
            font-weight: 400;
            font-size: 18px;
        }
    }

}

#navLarge{
    display: none;
    @include lg{
        background-color: #FFFFFF;
        width: 100%;
        display: flex;
        position: sticky;
        top: 75px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .container{
            display: flex;
            justify-content: space-between;
            .navLarge_link{
                color: rgba(0, 0, 0, 0.8);
                text-transform: uppercase;
                font-weight: 600;
                padding: .65rem 0;
            }            
        }
    }
}